 <div class="sidebar" id="sidebar">

        <ul class="nav flex-column mt-3">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.endpoint == 'dashboard.index' else '' }}" href="{{ url_for('dashboard.index') }}">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-cart"></i> Compras
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-gear"></i> Producción
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-bag"></i> Ventas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-cash-stack"></i> Caja / Corte
                </a>
            </li>
            {% if current_user.is_authenticated and current_user.rol and current_user.rol.nombre == 'Administrador' %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.endpoint == 'usuarios.index' else '' }}" href="{{ url_for('usuarios.index') }}">
                    <i class="bi bi-people"></i> Usuarios
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if request.endpoint == 'proveedores.index' else '' }}" href="{{ url_for('proveedores.index') }}">
                    <i class="bi bi-truck"></i> Proveedores
                </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-egg-fried"></i> Productos
                </a>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ingredientes.index') }}">
                    <i class="bi bi-box"></i> Ingredientes
                </a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-book"></i> Recetas
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
