{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='style/index.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='style/layout/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% include "includes/_navbar.html" %}

{% block container %}
<section id="inicio" class="hero">
    <div class="container text-center hero-content">
        <h1 class="display-2 fw-bold mb-3">Casa Gourmet</h1>
        <p class="lead mb-4">Sabores caseros que enamoran</p>
    </div>
</section>
{% endblock %}

