{% extends "base.html" %}
{% block title %}Editar Ingrediente{% endblock %}

{% block content %}
<div class="form-page">
    <div class="form-container">
        <div class="form-title"><h1>Editar Ingrediente</h1></div>

        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-grid">
                <div class="form-group-half">{{ form.nombre.label(class="form-label") }}{{ form.nombre(class="form-control") }}{% for error in form.nombre.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.unidad_medida.label(class="form-label") }}{{ form.unidad_medida(class="form-control") }}{% for error in form.unidad_medida.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.stock_actual.label(class="form-label") }}{{ form.stock_actual(class="form-control") }}{% for error in form.stock_actual.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.stock_minimo.label(class="form-label") }}{{ form.stock_minimo(class="form-control") }}{% for error in form.stock_minimo.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.precio.label(class="form-label") }}{{ form.precio(class="form-control") }}{% for error in form.precio.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.porcentaje_merma.label(class="form-label") }}{{ form.porcentaje_merma(class="form-control") }}{% for error in form.porcentaje_merma.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.factor_conversion.label(class="form-label") }}{{ form.factor_conversion(class="form-control") }}{% for error in form.factor_conversion.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.id_categoria.label(class="form-label") }}{{ form.id_categoria(class="form-control") }}{% for error in form.id_categoria.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
                <div class="form-group-half">{{ form.id_proveedor.label(class="form-label") }}{{ form.id_proveedor(class="form-control") }}{% for error in form.id_proveedor.errors %}<small class="text-danger">{{ error }}</small>{% endfor %}</div>
            </div>
            <div class="button-group">
                {{ form.submit(class="crear-btn") }}
                <a href="{{ url_for('ingredientes.index') }}" class="btn volver-btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
